@import '../../style/variables.scss';

.profesional {
    min-height: 950px;
    padding-top: 60px;

    &__wrapper {
        width: 940px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(4, 200px);
        column-gap: 35px;
        row-gap: 35px;
        position: relative;
    }

    &__card {
        padding-left: 20px;
        background-color: $bg;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 0px #0000001A;
        position: relative;

        &__title {
            padding-top: 20px;
            font-weight: 400;
            font-size: 20px;
            color: $brown-color;
        }
        &__services {
            display: block;
            position: absolute;
            content: '';
            bottom: 15px;
            left: 20px;
        }
        &__img {
            width: 90px;
            height: 90px;
            position: absolute;
            content: '';
            bottom: 5px;
            right: 15px;
        }
    }
}