@import "../../style/variables.scss";

.header {
    padding-top: 130px;
    min-height: 850px;
    position: relative;

    &__wrapper {
        position: relative;
        display: flex;
        z-index: 10;
    }

    &__slide_nav {
        list-style-type: none;
        padding-left: 15px;
        position: relative;

        &_item {
            margin-bottom: 50px;
            cursor: pointer;
            font-weight: 700;
            font-size: 20px;
            color: $brown-light;

        }
    }

    &__number {
        position: absolute;
        bottom: 0px;
        right: -117px;
        z-index: 10;
        font-size: 20px;
        font-weight: 700;
        font-size: 20px;
        color: $brown-light;

        a {
            color: $text;
            text-decoration: none;
        }
    }

    &__title_wrapper {
        padding-left: 150px;
    }

    &__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 110px;
        color: $text;
    }

    &__social {
        margin-top: 80px;
        display: flex;
        list-style-type: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $brown-color;

        &_item {
            margin: 15px;
        }
    }

    &__slider {
        z-index: 1;
        overflow: hidden;
        transition: all 1s;

        .slide {
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 1s;
        }
    }

    .active__slider {
        opacity: 1;
        transition: all 1s;
    }

    .active_slide {
        position: relative;

        &::before {
            position: absolute;
            content: url('../../resourses/img/header/header_slider/process.png');
            top: 0;
            transform: translate(-40%, -20%);
            left: 0;
        }
    }
}